<div class="footer-main-div bg-primary">
  <div class="footer-social-icons">
       <ul>
         <li><a href="#" target="blank"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#" target="blank"><i class="fa fa-google-plus"></i></a></li>
         <li><a href="#" target="blank"><i class="fa fa-youtube"></i></a></li>
       </ul>
  </div>
  <div class="footer-menu-one">
     <ul>
       <li><a href="#">Home</a></li>
       <li><a href="#">About Us</a></li>
       <li><a href="#">Services</a></li>
       <li><a href="#">Products</a></li>
       <li><a href="#">Contact Us</a></li>
     </ul>
  </div>

</div>
<div class="footer-bottom">
   <p>Copy Right by:<a href="#">@Sahiudhyogh </a></p>
</div>
























<!-----------------------Footer----------------------
 <section id="footer">
   <div class="container text-center">
      <p> Sahiudhyogh <i class="fa fa-heart-o"></i></p>
   </div>
 </section>
 ---------------->
 <!-----------------------Footer End-----------------------
 <script src="C:\Users\yes boss\Desktop\website.js"></script>
 <script>
 var scroll =  new SmoothScroll('a[href*="#"]');
 </script>
 --->