<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!---------------------------------------------------------------------------------------------------------->

            <div class="container1">

                <div class="row">
                    <table>
                        <tr>

                            <span class="b">

                                <td><img src="assets/conan.gif" class="d-block w-100"></td>
                                <td><img src="assets/fis.gif" class="d-block w-100"></td>
                                <td><img src="assets/cgi.gif" class="d-block w-100"></td>
                                <td><img src="assets/gen.gif" class="d-block w-100"></td>
                                <td><img src="assets/syn.gif" class="d-block w-100"></td>

                                <td><img src="assets/will.gif" class="d-block w-100"></td>
                                <td><img src="assets/air.gif" class="d-block w-100"></td>
                                <td><img src="assets/epa.gif" class="d-block w-100"></td>
                                <td><img src="assets/dbs.gif" class="d-block w-100"></td>

                            </span>

                        </tr>
                    </table>

                </div>

                <br>
                <!-- ------------------------------ -->
                <div class="content-left-side">
                    <div class="jobs-list-block">
                        <div class="col-md-12 col-xs-12 col-lg-12 padding-none heading-latest-block">

                            <h1 class="col-md-2 col-xs-2 col-lg-2 heading-latest display-inline">Updated JOBS</h1>

                            <div class="col-md-10 col-xs-10 col-lg-10 padding-none latest-sub-heading-text display-inline"
                                itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">&nbsp;

                                <div class="display-inline latest-all-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">All Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="display-inline latest-other-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">Software Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="display-inline latest-other-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">Govt Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="display-inline latest-other-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">Core Technical Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="display-inline latest-other-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">MBA Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="display-inline latest-other-jobs font-13">
                                    <a class="latest-other-jobs-head" href="" style="color: red">Bank Jobs</a>
                                </div>

                                <span class="color-b9">|</span>

                                <div class="dropdown more-dropdown display-inline latest-other-jobs font-13">
                                    <a href="#" data-toggle="dropdown"
                                        class="dropdown-toggle latest-other-jobs-head" style="color: red">More<b
                                            class="caret more_caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li itemprop="name"><a href="">Defence Jobs</a></li>
                                        <li itemprop="name"><a href="">Research Jobs</a></li>
                                        <li itemprop="name"><a href="">BPO Jobs</a></li>
                                        <li itemprop="name"><a href="">Walk-ins</a></li>
                                        <li itemprop="name"><a href="">BSc/BCA/BBM</a></li>
                                        <li itemprop="name"><a href="">Teaching Jobs</a></li>
                                        <li itemprop="name"><a href="">Diploma Jobs</a></li>
                                        <li itemprop="name"><a href="">1-3Yrs Exp</a></li>
                                        <li itemprop="name"><a href="">Internships</a></li>
                                        <li itemprop="name"><a href="">Scholarships</a></li>
                                        <li itemprop="name"><a href="">Bank Jobs</a></li>
                                        <li itemprop="name"><a href="">Tech Support</a></li>
                                        <li itemprop="name"><a href="">Health Care</a></li>
                                        <li itemprop="name"><a href="">Hospitality</a></li>
                                        <li itemprop="name"><a href="">Part Time Jobs</a></li>
                                        <li itemprop="name"><a href="">Finance Jobs</a></li>
                                        <li itemprop="name"><a href="">More Jobs</a></li>
                                    </ul>
                                </div>

                            </div>



                        </div>







                        <!-- --------------------------------- -->
                        <div class="row register-form">

                            <div class="col-md-4">
                                <div class="form-group">

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                    <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                    <a class="nav-link" href="#">Eureka Forbes</a>
                                    <a class="nav-link" href="#">Luminous Power Technologies</a>
                                    <a class="nav-link" href="#">Miraj Group</a>
                                    <a class="nav-link" href="#">RSPL Limited</a>

                                </div>
                            </div>

                        </div>
                        <!-- --------------------------------- -->

                    </div>
                </div>

            </div>


            <!------------------------------------------------------------------------------------------------------->

            <div class="row1">

                <div class="premium">
                    <ul>
                        <li>Priority Shortlisting & Assured Call Letters</li>
                        <li>Take CEAT and show that you're ready for a corporate Job</li>
                        <li>Premium Members can track Result status of all the Interviews</li>
                    </ul>

                </div>

            </div>

<!-- --------- Videos Selector Is here------------------------- -->
<!-- <br>
<app-videos2></app-videos2> -->

 <!-- ------------------------------------------------------------ -->
        </div>

        <div class="col-md-3">

            <div class="container2">

                <span class="JP">

                    <img src="assets/jp.jpg" class="d-block w-100">

                </span>
                <span class="central">

                    <img src="assets/cental.jpg" class="d-block w-100">

                </span>

                <span class="booz">

                    <img src="assets/booz.jpg" class="d-block w-100">

                </span>

                <span class="wipro">

                    <img src="assets/wipro1.jpg" class="d-block w-100">

                </span>

                <span class="ups">

                    <img src="assets/ups.gif" class="d-block w-100">

                </span>

                <span class="infosys">

                    <img src="assets/infjob.jpg" class="d-block w-100">

                </span>

                <span class="deloit">

                    <img src="assets/deljob.jpg" class="d-block w-100">

                </span>

            </div>

        </div>

    </div>
</div>