<div class="container">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

<table>
    <tr>
<!--------------------------
<span class="blink">
 ---------------------------->   
  <td>
            <div class="carousel-item active">
         <img src="assets/bha.png" class="d-block w-100"> 
            </div> 
        
    </td> 
    

     <td>
            <div class="carousel-item active">
         <img src="assets/info.jpg" class="d-block w-100">
         </div>
    </td>


      <td>
            <div class="carousel-item active">
          <img src="assets/lti.png" class="d-block w-100">
        </div>
        </td>


      <td>
            <div class="carousel-item active">
        <img src="assets/meg.jpg" class="d-block w-100">
           </div>
    </td>

      <td>
            <div class="carousel-item active">
        <img src="assets/ora.png" class="d-block w-100">
            </div>
    </td>

      <td>
            <div class="carousel-item active">
        <img src="assets/vir.png" class="d-block w-100">
             </div>
    </td>

    <td>
      <div class="carousel-item active">
  <img src="assets/wip.png" class="d-block w-100">
       </div>
</td>

<!-- 
<td>
  <div class="carousel-item active">
<img src="assets/tcs.jpg" class="d-block w-100">
   </div>
</td> -->

<!--------------
     </span>
    ------------>
    </tr>
    </table> 



    </div>



    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    

            </div>



</div>



