<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-2">
                <div class="profile-img">
                    <img src="/assets/c.jpg">

                    <div class="id">
                        <h6>FW20573317</h6>
                    </div>

                    <div class="edit-image-upload">
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="name">
                    <h5><b>ChandralekaThinakaran </b><i class="fa fa-edit"></i></h5>

                    <div class="education">

                        <h6> <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            BE/B.Tech(Electronics & Communication Engineering(ECE))</h6>
                    </div>

                    <div class="yearofpass">
                        <h6>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            2016 Passout
                        </h6>
                    </div>

                    <div class="college">
                        <h6>
                            <i class="fa fa-university" aria-hidden="true"></i>
                            S.K.P Engineering College,Thiruvannamalai
                        </h6>
                    </div>

                    <div class="location">
                        <h6>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Hosur
                        </h6>
                    </div>

                    <div class="status">
                        <h6><small>Profile Completion Status 60%</small></h6>
                    </div>

                    <div class="progress" id="profilestatus">
                        <div class="progress-bar"></div>
                    </div>

                    <div class="complete">
                        <h6><small>Complete Your Profile</small></h6>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card1">
                    <h6>Non-Premium Member</h6>
                    <p>
                        <small> Please complete your pending Actions to
                            Make your profile attractive to recruiters.
                        </small>
                    </p>
                    <a href="">Change To Premium</a>
                </div>
            </div>

        </div>
    </div>
<!-- -------------------------------------------------------------------------------- -->

                                 <div class="card2">
                                     <div class="para">
                                    <p>Upgrade to get Shortlisted Faster. Access Premium Jobs,
                                     Power Placement Preparation(P3) Kit, & Take CEAT Test</p>
                                    </div>
                                    <div class="premium">
                                    <span class="badge badge-primary"><b>Upgrade to Premium Membership</b></span>  
                                    </div>
                                </div>





</div>