<div class="container">
    <div class="row">
        <div class="col-md-2 bg">
  
            <table>
  
                <tr>
                    <!---------------------------
          <button class="btn btn-primary"><h6> Top Employeers</h6></button>
          -------------->
  
                    <span class="b">
  
                        <td><img src="assets/conan.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/fis.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/cgi.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/gen.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/syn.gif" class="d-block w-100"></td><br><br>
                        
                        <td><img src="assets/will.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/air.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/epa.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/dbs.gif" class="d-block w-100"></td><br><br>
  
                        <td><img src="assets/condu.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/orac.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/cme.gif" class="d-block w-100"></td><br><br>
                        <td><img src="assets/bpo.gif" class="d-block w-100"></td><br><br>
  <!---------------------------------------------------------------------------------------------
                        <td><img src="assets/ril.gif" class="d-block w-100"></td><br>
                        <td><img src="assets/mav.gif" class="d-block w-100"></td><br>
                        <td><img src="assets/in.gif" class="d-block w-100"></td><br>
                        <td><img src="assets/bar.gif" class="d-block w-100"></td><br>
  
  ----------------------------------------------------------------------------------------------->
  
  
                    </span>
  
                </tr>
            </table>
  
        </div>
        <div class="col-md-7">
            <!---------------------------------------------------------------------------------------------------------->
  
            <div class="container1">
  
                <!-- <h6 style="color:blue"><b> Best Places To Work </b></h6> -->
  
                <!-- <ngb-tabset #t="ngbTabset">
                    <ngb-tab id="tab-selectbyid1" title="All Sectors">
                        <ng-template ngbTabContent> -->
  
  
                       <!--  -->
  
                       <div class="jobs-list-block">
                              <div class="col-md-12 padding-none heading-latest-block">
                        
                                  <h1 class="col-md-2 heading-latest display-inline">Updated JOBS</h1>
  
  
                       <div class="col-md-10 padding-none latest-sub-heading-text display-inline"
                       itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">&nbsp;
         
                       <div class="display-inline latest-all-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red"><b>All Jobs</b></a>
                       </div>
         
                       <span class="color-b9">|</span>
         
                       <div class="display-inline latest-other-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red"><b>Software Jobs</b></a>
                       </div>
         
                       <span class="color-b9">|</span>
         
                       <div class="display-inline latest-other-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red"><b>Govt Jobs</b></a>
                       </div>
         
                       <span class="color-b9">|</span>
         
                       <div class="display-inline latest-other-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red"><b>Core Technical Jobs</b></a>
                       </div>
         
                       <!-- <span class="color-b9">|</span>
         
                       <div class="display-inline latest-other-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red">MBA Jobs</a>
                       </div> -->
         
                       <span class="color-b9">|</span>
         
                       <div class="display-inline latest-other-jobs font-13">
                           <a class="latest-other-jobs-head" href="" style="color: red"><b>Bank Jobs</b></a>
                       </div>
         
                       <span class="color-b9">|</span>
         
                       <div class="dropdown more-dropdown display-inline latest-other-jobs font-13">
                           <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle latest-other-jobs-head" style="color: red"><b>More</b><b
                                   class="caret more_caret"></b></a>
                           <ul class="dropdown-menu">
                               <li itemprop="name"><a href="">Defence Jobs</a></li>
                               <li itemprop="name"><a href="">Research Jobs</a></li>
                               <li itemprop="name"><a href="">BPO Jobs</a></li>
                               <li itemprop="name"><a href="">Walk-ins</a></li>
                               <li itemprop="name"><a href="">BSc/BCA/BBM</a></li>
                               <li itemprop="name"><a href="">Teaching Jobs</a></li>
                               <li itemprop="name"><a href="">Diploma Jobs</a></li>
                               <li itemprop="name"><a href="">1-3Yrs Exp</a></li>
                               <li itemprop="name"><a href="">Internships</a></li>
                               <li itemprop="name"><a href="">Scholarships</a></li>
                               <li itemprop="name"><a href="">Bank Jobs</a></li>
                               <li itemprop="name"><a href="">Tech Support</a></li>
                               <li itemprop="name"><a href="">Health Care</a></li>
                               <li itemprop="name"><a href="">Hospitality</a></li>
                               <li itemprop="name"><a href="">Part Time Jobs</a></li>
                               <li itemprop="name"><a href="">Finance Jobs</a></li>
                               <li itemprop="name"><a href="">More Jobs</a></li>
                           </ul>
                       </div>
         
                   </div>
         </div>
  
  
                          <!--  -->
  
                            <div class="row register-form">
         <!----------------------------------------------------------------------------------->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="inf" style="color: cornflowerblue">Information Technology </span>
  
                                        <br> <br>
  
                                      <span style="color: cornflowerblue">  ITES/BPO/.COM </span>
                                       <a class="nav-link" href="#">Innodata India Pvt. Ltd.</a>
                                   </div>
                                </div>
  
          <!------------------------------------------------------------------------------->
  
                                <div class="col-md-4">
  
                                  <div class="form-group">
                                          <span style="color: cornflowerblue"> Durable/FMCG/Electr. </span>
  
                                 <a class="nav-link" href="#">Eureka Forbes</a>
                                 <a class="nav-link" href="#">Luminous Power Technologies</a>
                                 <a class="nav-link" href="#">Miraj Group</a>
                                 <a class="nav-link" href="#">RSPL Limited</a>
  
                                    </div>
                                </div>
  
     <!------------------------------------------------------------------------------->
  
                                <div class="col-md-4">
                                    <div class="form-group">
                                    <span style="color: cornflowerblue"> RealEstate/Constr. </span>
  
                                      <a class="nav-link" href="#">DLF Ltd.</a>
                                 <a class="nav-link" href="#">IREO Pvt. Ltd.</a>
  
                                    </div>
                                </div>
  <!------------------------------------------------------------------------------->
  
  
  <div class="col-md-4">
        <div class="form-group">
               <span style="color: cornflowerblue"> Product Software </span>
  
          <a class="nav-link" href="#">Seven Lakes Technologies Pvt. Ltd. </a>
    
        </div>
    </div>
  
  
  
    <div class="col-md-4">
            <div class="form-group">
                   <span style="color: cornflowerblue"> Engg./Infra./Mining </span>
  
              <a class="nav-link" href="#">Nuberg Engineering Ltd</a>
         <a class="nav-link" href="#">Rockwell</a>
  
            </div>
        </div>
  
  
        <div class="col-md-4">
                <div class="form-group">
                        <span class="inf" style="color: cornflowerblue">Services </span>
  <br><br>
                       <span style="color: cornflowerblue"> Dotcom/Internet/E-Commerce </span>
  
                  <a class="nav-link" href="#">IndiaMart InterMesh Ltd.</a>
            
                </div>
            </div>
  
  <!------------------------------------------------------------------------------->
  
  
  <div class="col-md-4">
        <div class="form-group">
              <span style="color: cornflowerblue"> Software Services </span>
  
          <a class="nav-link" href="#">Birlasoft (India) Ltd.</a>
          <a class="nav-link" href="#">ESDS Software Solution </a>
          <a class="nav-link" href="#">Judge India Solutions </a>
          <a class="nav-link" href="#">Neoris Consulting Services </a>
    
        </div>
    </div>
  
  
  
    <div class="col-md-4">
            <div class="form-group">
                  <span style="color: cornflowerblue">  Healthcare/Pharma </span>
  
              <a class="nav-link" href="#">Indegene Pvt. Ltd.</a>
              <a class="nav-link" href="#">Wockhardt Hospitals Ltd.</a>
              <a class="nav-link" href="#">Zydus Hospitals.</a>
  
            </div>
        </div>
  
  
        <div class="col-md-4">
                <div class="form-group">
                        <span style="color: cornflowerblue"> Education/Media </span>
  
                  <a class="nav-link" href="#">EINS Education</a>
            
                </div>
            </div>
  
            
  <!------------------------------------------------------------------------------->
  
  
  <div class="col-md-4">
        <div class="form-group">
                <span class="inf" style="color: cornflowerblue">Manufacturing </span>
                  <br><br>
               <span style="color: cornflowerblue"> Auto/ Auto Equip. </span>
  
          <a class="nav-link" href="#">Endurance Technologies Limited</a>
         
    
        </div>
    </div>
  
  
  
    <div class="col-md-4">
            <div class="form-group">
                    <span style="color: cornflowerblue"> Interior Solutions/FMCG </span>
  
              <a class="nav-link" href="#">Merino Group.</a>
              
  
            </div>
        </div>
  
  
        <div class="col-md-4">
                <div class="form-group">
                      <span style="color: cornflowerblue"> Finance/Insurance </span>
  
                  <a class="nav-link" href="#">Sun Life India Service Centre Pvt. Ltd.</a>
            
                </div>
            </div>
  
  
  <!------------------------------------------------------------------------------->
  
  
  <div class="col-md-4">
        <div class="form-group">
                <span style="color: cornflowerblue"> Diversified/Retail </span>
  
          <a class="nav-link" href="#">Lakshmi - Life Science/Cargo/Technology</a>
          <a class="nav-link" href="#">LENSKART SOLUTIONS PRIVATE LIMITED</a>
          <a class="nav-link" href="#">Shoppers Stop Limited</a>
          <a class="nav-link" href="#">Unison International</a>
          <a class="nav-link" href="#">Xpert Conexions</a>
               
         
    
        </div>
    </div>
  
  
  
    <div class="col-md-4">
            <div class="form-group">
                     <span style="color: cornflowerblue"> Logistics/Shipping </span>
  
              <a class="nav-link" href="#">Total Group.</a>
  
              <span style="color: cornflowerblue"> Printing & Packaging </span>

              <a class="nav-link" href="#">UFLEX</a>
              <a class="nav-link" href="#">Mancer Consulting Services.</a>
              <a class="nav-link" href="#">Mastermind Network</a>
              <a class="nav-link" href="#">SV Management Consultant’s Indore</a>
  
  
            </div>
        </div>
  
  
        <div class="col-md-4">
                <div class="form-group">
                      <span style="color: cornflowerblue"> Search Firms </span>
  
                  <a class="nav-link" href="#">Adeo Consultancy Private Limited</a>
                  <a class="nav-link" href="#">Careerist</a>
                  <a class="nav-link" href="#">Crescendo Global</a>
                  <a class="nav-link" href="#">e-Solutions IT Services Pvt. Ltd.</a>
                  <a class="nav-link" href="#">Highpoints Technologies</a>
                  <a class="nav-link" href="#">KRM Global</a>
                 
                
                </div>
            </div>
  
  
  
  <!------------------------------------------------------------------------------->
  
  
  <div class="col-md-4">
    <div class="form-group">
       <span style="color: cornflowerblue"> ChipDsg/Semicond. </span>
  
      <a class="nav-link" href="#">Einfochips Ltd</a>
      <a class="nav-link" href="#">GLOBALFOUNDRIES Engineering Private Limited</a>
      <a class="nav-link" href="#">Intel</a>
      <a class="nav-link" href="#">Invescas Technologies India Ltd</a>
      <a class="nav-link" href="#">Maxim Integrated</a>
  
      <a class="nav-link" href="#">Micron</a>
      <a class="nav-link" href="#">Sankalp Semiconductors</a>
      <a class="nav-link" href="#">XILINX</a>
      <a class="nav-link" href="#">Western Digital</a>
     
    <span style="color: cornflowerblue">  Cloud Computing </span>
      <a class="nav-link" href="#"> Secure - 24 IT Services Pvt Ltd  </a>
     
     
  
    </div>
  </div>
  
  
  
  <div class="col-md-4">
        <div class="form-group">
            <span style="color: cornflowerblue"> Digital Agencies </span>
  
          <a class="nav-link" href="#">BORN Commerce Private Limited</a>
  
          <span style="color: cornflowerblue"> Engineering Services </span>

          <a class="nav-link" href="#">DesignTech Systems Ltd.</a>
          <a class="nav-link" href="#">Hinduja Tech Limited</a>
          <a class="nav-link" href="#">QuEST Global</a>
          <a class="nav-link" href="#">Robert Bosch Engineering and Business Solution Limited</a>
          <a class="nav-link" href="#">TÜV SÜD South Asia Pvt. Ltd.</a>
  
  
  
        </div>
    </div>
  
  
    <div class="col-md-4">
            <div class="form-group">
              <span style="color: cornflowerblue"> Financial Services & Software </span>
  
              <a class="nav-link" href="#">BLACKROCK</a>
              <a class="nav-link" href="#">Factset Systems Inc.</a>
             
              <span style="color: cornflowerblue"> Gaming </span>
  
              <a class="nav-link" href="#">Electronic Arts Games (India) Pvt. Ltd.</a>
              <a class="nav-link" href="#">UBISOFT</a>
            <span style="color: cornflowerblue">  Healthcare/Pharma </span>
              <a class="nav-link" href="#">AstraZeneca</a>
              <a class="nav-link" href="#">Cotiviti India Private Limited</a>
             
            
            </div>
        </div>
  
  
  
  <!------------------------------------------------------------------------------->
  
  
  
  
  
  <!--  -->
  
                            </div>
  
  
  
  </div>
  
  
  <!--  -->
  
                        <!-- </ng-template>
                    </ngb-tab> -->
  
  <!-- 
  
                    <ngb-tab id="tab-selectbyid2" title="Information Technology">
                        <ng-template ngbTabContent>
  
  
  
  
                        </ng-template>
                    </ngb-tab>
  
  
  
  
  
  
  
                    <ngb-tab id="tab-selectbyid3" title="Manufacturing">
                        <ng-template ngbTabContent>
  
  
  
  
                        </ng-template>
                    </ngb-tab> -->
  
  
  
  <!-- 
                    <ngb-tab id="tab-selectbyid4" title="Services">
                        <ng-template ngbTabContent>
  
  
  
  
                        </ng-template>
                    </ngb-tab> -->
  
  
  
  
  
                <!-- </ngb-tabset> -->
            </div>
            <!------------------------------------------------------------------------------------------------------->
        </div>
  
        <div class="col-md-3">
  
            <div class="container2">
  
                <span class="JP">
  
                    <img src="assets/jp.jpg" class="d-block w-100">
  
                </span>
                <span class="central">
  
                    <img src="assets/cental.jpg" class="d-block w-100">
  
                </span>
  
                <span class="booz">
  
                    <img src="assets/booz.jpg" class="d-block w-100">
  
                </span>
  
                <span class="wipro">
  
                    <img src="assets/wipro1.jpg" class="d-block w-100">
  
                </span>
  
                <span class="ups">
  
                    <img src="assets/ups.gif" class="d-block w-100">
  
                </span>
  
                <span class="infosys">
  
                    <img src="assets/infjob.jpg" class="d-block w-100">
  
                </span>
  
  
                <span class="deloit">
  
                    <img src="assets/deljob.jpg" class="d-block w-100">
  
                </span>
  
            </div>
  
        </div>
  
    </div>
  </div>