<div class="container">
        <div class="row">
            <div class="col-md-9">
                <!---------------------------------------------------------------------------------------------------------->
    
                <div class="container1">




                        <div class="profilePage">
                                <div class="wrapper">
                                  
                                    <div class="dashboard blue-bg card">
                            
                                        <div class="img-wrapper col s2 center" data-ga-track="spa-event|EditProfile|UploadPhoto|EditOpen">
                                            <div class="photoTrigger"><img class="user-img"
                                                    src="/assets/LGI.png"><span><span></span></span>
                            
                                            </div>
   
   
                                        </div>

                                        <span class="blink">                                       
<div class="start">
        <img src="/assets/d.jpg">
        </div>

        </span>
<br><br><br>
<div class="name">

        <app-namescroll></app-namescroll>
    </div>
<br>
<br><br>

<h2 class="em">
    Employeer Member Referal Program 
    </h2>

    <h4>Indroducing Employee Refera;l Bonus Program / Help us Grow / We are Hiring!<br>
        can you Help?
    </h4>


<br>

<div class="container10">


        &nbsp;  &nbsp;  &nbsp;   <b>Dear Team,</b> <br>
 
        &nbsp;  &nbsp;  &nbsp; <p>Greetings from LETSGETTIN PVT LTD !!!</p>  <br>
     
                          <p>  As you know, here at LETSGETTIN, we are always looking to grow our teams with talented people, just like you. That’s why, we are excited to announce our Member Referral Program (MRP).
                                    Refer qualified candidates and as a “thank you,” we will offer you [Member referral bonus as an incentive for referrers.
                          </p>
                             <p>       
     
                                     In order to be eligible for the referral bonus, you need to refer you friends who are talented, hard workers and dedicated who is need of job [Any member can refer].
                                    </p>
                                    <p>
                                     If you know someone who you think would be a good fit for our company, let us know. [It’s best to be clear about the employee referral process, please find the below to understand more 
                                     about MRP programme.
                                    </p>

</div>



<div class="row1">
    
        <div class="premium">
           <ul>
               <li>Member Referal Program Benfits</li>
               <!-- <li>Take CEAT and show that you're ready for a corporate Job</li>
               <li>Premium Members can track Result status of all the Interviews</li> -->
           </ul>

       </div>

   </div>

   <br><br>

   <p>
  &nbsp;  &nbsp;   <i> 1. For the closure of<b> Train & Hire Model - JAVA,</b> Member will get<b> Rs.5000/- </b>per closure (Calculated monthly).</i>
   </p>
   <p>
        &nbsp;  &nbsp;   <i>  2. For the first closure of<b> Train & Hire Model-TESTING,</b> Member will get<b>Rs.3,500/-</b> per closure (Calculated monthly).
        </i>
    </p>
    <p>
            &nbsp;  &nbsp;  <i>     3. Once the agreement received from the Organization, bonus will credit with the salary as an incentive which will give you more
                   <br> &nbsp;  &nbsp; &nbsp;  &nbsp credibility to your Employment (payslip as well as  statement).
    </i> 
</p>
    <p>
            &nbsp;  &nbsp;        <i>
        4.  HR's, PE’s and CPE’s are not eligible for the MRP – Member referral programme.   </i>          
</p>

<p>
        For more details about the MRP - Member referral program, please contact to 
        <br>Shalini Gandra Mobile -7019725348 and<a  href=""> E-Mail ID- shalini.gandra@letsgettin.com.</a>
</p>

                       
                            
                                    </div>
                            
                                </div>
                            </div>






<!--  -->
            
    
                </div>
    
    
               
        </div>
    </div>