<!--------------------------------------------------------->
<div class="container">
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="Personal Details">
      <ng-template ngbTabContent>

        <div class="container register">

          <form [formGroup]="reactiveForm">
            <div class="row">
              <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p> <b>Sahiudhyog</b> </p>
                <input type="submit" name="" value="Sahiudhyogh" style="color:rgb(236, 18, 164)" /><br />
              </div>

              <div class="col-md-9 register-right">

                <div class="row register-form">
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="firstName" style="color:blue"> First Name * </label>
                      <input type="text" class="form-control" id="firstName" placeholder="Enter Your First Name"
                        name="firstName" formControlName="firstName">
                      <div
                        *ngIf="reactiveForm.controls.firstName.errors && (reactiveForm.controls.firstName.touched || reactiveForm.controls.firstName.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','firstName')"> FirstName is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','firstName')"> FirstName is invalid</div>
                        <div *ngIf="reactiveForm.hasError('minlength','firstName')"> FirstName is must be 3 min</div>
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="lastName" style="color:blue"> LastName * </label>
                      <input type="text" class="form-control" id="lastName" placeholder="Enter Your astName"
                        name="lastName" formControlName="lastName">
                      <div
                        *ngIf="reactiveForm.controls.lastName.errors && (reactiveForm.controls.lastName.touched || reactiveForm.controls.lastName.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','lastName')"> LastName is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','lastName')"> LastName is invalid</div>
                        <div *ngIf="reactiveForm.hasError('minlength','lastName')"> LastName is must be 3 min</div>
                      </div>

                    </div>


                    <div class="form-group">
                      <label for="username" style="color:blue"> email * </label>
                      <input type="email" class="form-control" id="username" placeholder="Enter Your email"
                        name="username" formControlName="username">
                      <div
                        *ngIf="reactiveForm.controls.username.errors && (reactiveForm.controls.username.touched || reactiveForm.controls.username.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','username')"> email is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','username')"> email is invalid</div>

                      </div>

                    </div>


                    <div class="form-group">
                      <label for="password" style="color:blue"> password * </label>
                      <input type="password" class="form-control" id="password" placeholder="Enter Your password"
                        name="password" formControlName="password">
                      <div
                        *ngIf="reactiveForm.controls.password.errors && (reactiveForm.controls.password.touched || reactiveForm.controls.password.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','password')"> password is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','password')"> password is invalid</div>
                        <div *ngIf="reactiveForm.hasError('minlength','password')"> password is must be 6 min</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','password')"> password is must be 10 max</div>
                      </div>

                    </div>


                  </div>


                  <div class="col-md-6">

                    <div class="form-group">
                      <label style="color:blue"> Gender * </label> <br>
                      <label for="gender" style="color:blue">Male</label>
                      <input class="radio" type="radio" value="Male" formControlName="gender">
                      <label for="gender" style="color:blue">Female</label>
                      <input class="radio" type="radio" value="Female" formControlName="gender">
                      <label for="gender" style="color:blue">Others</label>
                      <input class="radio" type="radio" value="Others" formControlName="gender">
                    </div>



                    <div class="form-group">
                      <label for="address" style="color:blue"> address * </label>
                      <input type="text" class="form-control" id="address" placeholder="Enter Your address"
                        name="address" formControlName="address">
                      <div
                        *ngIf="reactiveForm.controls.address.errors && (reactiveForm.controls.address.touched || reactiveForm.controls.address.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','address')"> address is Required</div>

                        <div *ngIf="reactiveForm.hasError('minlength','address')"> address is must be 10 cha min</div>
                      </div>

                    </div>


                    <div class="form-group">
                      <label for="phoneNumber" style="color:blue"> phoneNumber * </label>
                      <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Your phoneNumber"
                        name="phoneNumber" formControlName="phoneNumber">
                      <div
                        *ngIf="reactiveForm.controls.phoneNumber.errors && (reactiveForm.controls.phoneNumber.touched || reactiveForm.controls.phoneNumber.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','phoneNumber')"> phoneNumber is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','phoneNumber')"> phoneNumber is invalid</div>

                      </div>

                    </div>


                    <div class="form-group">
                      <label for="file" style="color:blue">Upload Resume</label>
                      <input type="file" class="form-control" (change)="onSelectFile($event)" style="height:100%">
                    </div>

                    <p>
                      <button class="btnm btn-primary" (click)="t.select('tab-selectbyid2')">Next</button>
                    </p>



                  </div>

                </div>
              </div>

            </div>
          </form>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid2">
      <ng-template ngbTabTitle>Educational Details</ng-template>
      <ng-template ngbTabContent>

        <div class="container register">

          <form [formGroup]="reactiveForm">
            <div class="row">
              <div class="col-md-2 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p> <b>Sahiudhyog</b> </p>
                <input type="submit" name="" value="Sahiudhyogh" style="color:rgb(236, 18, 164)" /><br />
              </div>

              <div class="col-md-10 register-right">



                <div class="row register-form">


                  <div class="col-md-12">
                    <div class="form-group" id="board1" style="color:blue">
                      <label>SSC Board *</label>
                    </div>
                  </div>


                  <div class="col-md-3">
                    <div class="form-group">

                      <select class="form-control" id="board" formControlName="board">
                        <option *ngFor="let board of boards" [value]="board.id">{{board.name}}</option>
                      </select>
                    </div>
                  </div>



                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="ssc_percentage" placeholder="ssc%"
                        name="ssc_percentage" formControlName="ssc_percentage">
                      <div
                        *ngIf="reactiveForm.controls.ssc_percentage.errors && (reactiveForm.controls.ssc_percentage.touched || reactiveForm.controls.ssc_percentage.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','ssc_percentage')"> ssc% is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','ssc_percentage')"> ssc% is invalid</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','ssc_percentage')"> ssc% is must be 3max</div>
                      </div>


                    </div>

                  </div>



                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" class="form-control" id="ssc_school" placeholder="schoolName" name="ssc_school"
                        formControlName="ssc_school">
                      <div
                        *ngIf="reactiveForm.controls.ssc_school.errors && (reactiveForm.controls.ssc_school.touched || reactiveForm.controls.ssc_school.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','ssc_school')"> schoolName is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','ssc_school')"> schoolName is invalid</div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="ssc_school_location" placeholder="location"
                        name="ssc_school_location" formControlName="ssc_school_location">
                      <div
                        *ngIf="reactiveForm.controls.ssc_school_location.errors && (reactiveForm.controls.ssc_school_location.touched || reactiveForm.controls.ssc_school_location.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','ssc_school_location')"> location is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','ssc_school_location')"> schoollocation is invalid
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" class="form-control" id="ssc_passed_out_year" placeholder="Passed out Year"
                        name="ssc_passed_out_year" formControlName="ssc_passed_out_year">
                      <div
                        *ngIf="reactiveForm.controls.ssc_passed_out_year.errors && (reactiveForm.controls.ssc_passed_out_year.touched || reactiveForm.controls.ssc_passed_out_year.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','ssc_passed_out_year')"> Year of pass is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','ssc_passed_out_year')"> year of pass is invalid
                        </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','ssc_passed_out_year')"> Invalid Year</div>

                      </div>

                    </div>

                  </div>



                  <div class="col-md-5" id="sscupload">
                    <div class="form-group">
                      <label for="file" style="color:blue">Upload SSC</label>
                      <input type="file" class="form-control" (change)="onSelectFileSsc($event)">
                    </div>
                  </div>

                </div>
             

                <div class="row register1-form">



                  <div class="col-md-12">
                    <div class="form-group" id="inter_category1" style="color:blue">
                      <label>IPE/Diploma *</label>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">

                      <select class="form-control" id="inter_category" formControlName="inter_category">
                        <option *ngFor="let inter_category of inter_categories" [value]="inter_category.id">
                          {{inter_category.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="inter_percentage" placeholder="%"
                        name="inter_percentage" formControlName="inter_percentage">
                      <div
                        *ngIf="reactiveForm.controls.inter_percentage.errors && (reactiveForm.controls.inter_percentage.touched || reactiveForm.controls.inter_percentage.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','inter_percentage')"> IPE/DIP% is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','inter_percentage')"> IPE/DIP% is invalid</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','inter_percentage')"> IPE/DIP% is must be 3max
                        </div>
                      </div>


                    </div>

                  </div>


                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" class="form-control" id="inter_school" placeholder="collegeName"
                        name="inter_school" formControlName="inter_school">
                      <div
                        *ngIf="reactiveForm.controls.inter_school.errors && (reactiveForm.controls.inter_school.touched || reactiveForm.controls.inter_school.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','inter_school')"> collegeName is Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','inter_school')"> collegeName is invalid</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="inter_school_location" placeholder="location"
                        name="inter_school_location" formControlName="inter_school_location">
                      <div
                        *ngIf="reactiveForm.controls.inter_school_location.errors && (reactiveForm.controls.inter_school_location.touched || reactiveForm.controls.inter_school_location.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','inter_school_location')"> collegelocation is
                          Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','inter_school_location')"> collegelocation is
                          Invalid</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" class="form-control" id="inter_passed_out_year" placeholder="Passed out Year"
                        name="inter_passed_out_year" formControlName="inter_passed_out_year">
                      <div
                        *ngIf="reactiveForm.controls.inter_passed_out_year.errors && (reactiveForm.controls.inter_passed_out_year.touched || reactiveForm.controls.inter_passed_out_year.dirty)"
                        style="color: red">
                        <div *ngIf="reactiveForm.hasError('required','inter_passed_out_year')"> Year of pass is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','inter_passed_out_year')"> year of pass is invalid
                        </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','inter_passed_out_year')"> Invalid Year</div>

                      </div>

                    </div>

                  </div>


                  <div class="col-md-5" id="ipeupload">
                    <div class="form-group">
                      <label for="file" style="color:blue">Upload IPE/DIP</label>
                      <input type="file" class="form-control" (change)="onSelectFileIpe($event)">
                    </div>
                  </div>

                </div>


  

                <div class="row register2-form">

                  <div class="col-md-12">
                    <div class="form-group" id="anydegree" style="color:blue">
                      <label>UG Degree *</label>
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="ugCourse" style="color:blue"> Course:</label>
                      <input type="text" class="form-control" id="ugCourse" placeholder="UG" name="ugCourse"
                        formControlName="ugCourse">
                      <div
                        *ngIf="reactiveForm.controls.ugCourse.errors && (reactiveForm.controls.ugCourse.touched || reactiveForm.controls.ugCourse.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','ugCourse')">
                          Course is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','ugCourse')">
                          Course is Invalid Format
                        </div>


                      </div>
                    </div>

                  </div>



                  <div class="col-md-4">

                    <div class="form-group">
                      <label for="ugSpecialization" style="color:blue"> Speciliazation:</label>
                      <input type="text" class="form-control" id="ugSpecialization" name="ugSpecialization"
                        formControlName="ugSpecialization">
                      <div
                        *ngIf="reactiveForm.controls.ugSpecialization.errors && (reactiveForm.controls.ugSpecialization.touched || reactiveForm.controls.ugSpecialization.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','ugSpecialization')">
                          Speciliazation is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','ugSpecialization')">
                          Speciliazation is Invalid Format
                        </div>

                      </div>

                    </div>
                  </div>


                  <div class="col-md-4">

                    <div class="form-group">
                      <label for="university_or_institute" style="color:blue"> University:</label>
                      <input type="text" class="form-control" id="university_or_institute"
                        name="university_or_institute" formControlName="university_or_institute">
                      <div
                        *ngIf="reactiveForm.controls.university_or_institute.errors && (reactiveForm.controls.university_or_institute.touched || reactiveForm.controls.university_or_institute.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','university_or_institute')">
                          university is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','university_or_institute')">
                          university is Invalid Format
                        </div>

                      </div>

                    </div>
                  </div>
                  

                  <div class="col-md-6">

                    <div class="form-group">
                      <label style="color:blue"> courseType * </label> <br>
                      <label for="courseType" style="color:blue">Full Time</label>
                      <input class="radio1" type="radio" value="Full Time" formControlName="courseType">
                      <label for="courseType" style="color:blue">Part Time</label>
                      <input class="radio1" type="radio" value="Part Time" formControlName="courseType">
                      <label for="courseType" style="color:blue">Correspondece</label>
                      <input class="radio1" type="radio" value="Correspondece" formControlName="courseType">
                    </div>



                  </div>





                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="passed_out_year" style="color:blue"> Passed Out year:</label>
                      <input type="text" class="form-control" id="passed_out_year" name="passed_out_year"
                        formControlName="passed_out_year">
                      <div
                        *ngIf="reactiveForm.controls.passed_out_year.errors && (reactiveForm.controls.passed_out_year.touched || reactiveForm.controls.passed_out_year.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','passed_out_year')">
                          Passed Out Year is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','passed_out_year')">
                          Year is Invalid Format
                        </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','passed_out_year')">
                          Year is Invalid
                        </div>

                      </div>
                    </div>

                  </div>



                  <div class="col-md-6">

                    <div class="form-group">
                      <label style="color:blue">Grading System *</label><br>
                      <select class="form-control" id="gradingSystem" formControlName="gradingSystem">
                        <option *ngFor="let gradingSystem of gradings" [value]="gradingSystem.id">{{gradingSystem.name}}
                        </option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="marks" style="color:blue"> Marks:</label>
                      <input type="text" class="form-control" id="marks" name="marks" formControlName="marks">
                      <div
                        *ngIf="reactiveForm.controls.marks.errors && (reactiveForm.controls.marks.touched || reactiveForm.controls.marks.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','marks')">
                          Marks is Required
                        </div>
                        <div *ngIf="reactiveForm.hasError('pattern','marks')">
                          Marks is Invalid Format
                        </div>

                        <div *ngIf="reactiveForm.hasError('maxlength','marks')">
                          Marks is Invalid
                        </div>


                      </div>

                    </div>


                  </div>

                 


                  <div class="col-md-6">
                    <div class="form-group" id="sa">
                      <label for="file" style="color:blue">Upload Degree Certificate</label>
                      <input type="file" class="form-control" (change)="onSelectFileGraduation($event)"
                        style="height:100%">
                    </div>

                  </div>
                  

                </div>

                <div class="row register8-form">


                  <div class="col-md-6">
                    <div class="form-group">
                      <label  style="color:blue"> Skills </label> <br>
                      <input type="text" placeholder="Enter Your Skills" class="form-control" id="skills" name="skills" formControlName="skills" [(ngModel)]="model" [ngbTypeahead]="search"/>
                     
                     
                      <!-- <div
                      *ngIf="reactiveForm.controls.skills.errors && (reactiveForm.controls.skills.touched || reactiveForm.controls.skills.dirty)"
                      style="color:red">
                    </div> -->

                  </div>
                </div>


                </div>







                

                <button class="btnp btn-primary" (click)="t.select('tab-selectbyid1')">Previous</button>

                <button class="btnm1 btn-primary" (click)="t.select('tab-selectbyid3')">Next</button>

              </div>
            </div>
          </form>
        </div>

      </ng-template>
    </ngb-tab>



    <ngb-tab id="tab-selectbyid3">
      <ng-template ngbTabTitle>Experience Details</ng-template>
      <ng-template ngbTabContent>


        <div class="container register">

          <form [formGroup]="reactiveForm">

            <div class="row">
              <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p> <b>Sahiudhyog</b> </p>
                <input type="submit" name="" value="Sahiudhyogh" style="color:rgb(236, 18, 164)" /><br />
              </div>

              <div class="col-md-9 register-right">

                <div class="row register3-form">



                  <div class="col-md-12">
                    <div class="form-group" id="experience_category1" style="color:rgb(240, 15, 191)">
                      <label style="color:blue">Experience *</label>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" id="total_experience_in_years" name="total_experience_in_years"
                        class="form-control" placeholder="Total Experience" formControlName="total_experience_in_years">
                      <div
                        *ngIf="reactiveForm.controls.total_experience_in_years.errors && 
                                  (reactiveForm.controls.total_experience_in_years.touched || reactiveForm.controls.total_experience_in_years.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','total_experience_in_years')">Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','total_experience_in_years')">Invalid Format</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','total_experience_in_years')">Invalid</div>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" id="total_experience_in_months" name="total_experience_in_months"
                        class="form-control" placeholder="Total Months" formControlName="total_experience_in_months">
                      <div
                        *ngIf="reactiveForm.controls.total_experience_in_months.errors && 
                               (reactiveForm.controls.total_experience_in_months.touched || reactiveForm.controls.total_experience_in_months.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','total_experience_in_months')">Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','total_experience_in_months')">invalid</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','total_experience_in_months')">invalid</div>
                      </div>

                    </div>
                  </div>
                </div>







                <div class="col-md-12">
                  <div class="form-group" id="companydetails" style="color:rgb(240, 15, 191)">
                    <label style="color:blue">Company Details *</label>
                  </div>
                </div>



                <div formArrayName="companies" *ngFor="let company of reactiveForm.get('companies').controls;
    let i=index">
                  <hr *ngIf="i>0">
                  <div [formGroupName]="i">


                    <div class="row register4-form">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" [attr.for]="companyName" style="color:blue">Company name:</label>
                          <input type="text" class="form-control" [id]="'companyName'+i"
                            placeholder="Enter Company Name" formControlName="companyName">
                          <span class="help-block" *ngIf="company.get('companyName').errors?.required 
           && company.get('companyName').touched" style="color:red">
                            Company Name required
                          </span>
                        </div>
                      </div>



                      <div class="col-md-5" *ngIf="i>0">
                        <button type="button" class="btn btn-primary btn-md pull-right" title="Delete companies"
                          (click)="removeCompany(i)">

                          <span class="glyphicon glyphicon-remove">

                          </span>
                        </button>
                      </div>

                      
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="control-label" [attr.for]="designation" style="color:blue">Designation:</label>
                          <input type="text" class="form-control" [id]="'designation'+i" placeholder="Enter Designation"
                            formControlName="designation">
                          <span class="help-block" *ngIf="company.get('designation').errors?.required 
           && company.get('designation').touched" style="color:red">
                            Designation required
                          </span>
                        </div>
                      </div>
                    

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" [attr.for]="duration_from" style="color:blue">From:</label>

                          <input type="text" class="form-control" [id]="'duration_from'+i" placeholder="From"
                            formControlName="duration_from">
                          <span class="help-block" *ngIf="company.get('duration_from').errors?.required 
           && company.get('duration_from').touched" style="color:red">
                            duration_from required
                          </span>
                        </div>

                      </div>


                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" [attr.for]="duration_to" style="color:blue">To:</label>

                          <input type="text" class="form-control" [id]="'duration_to'+i" placeholder="To"
                            formControlName="duration_to">
                          <span class="help-block" *ngIf="company.get('duration_to').errors?.required 
               && company.get('duration_to').touched" style="color:red">
                            duration_from required
                          </span>
                        </div>

                      </div>





                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" [attr.for]="responsibility"
                            style="color:blue">responsibility:</label>
                          <input type="text" class="form-control" [id]="'responsibility'+i"
                            placeholder="Enter responsibility" formControlName="responsibility">
                          <span class="help-block" *ngIf="company.get('responsibility').errors?.required 
                   && company.get('responsibility').touched" style="color:red">
                            responsibility required
                          </span>
                        </div>
                      </div>

                      

                    </div>

                  </div>
                </div>



                <div class="col-md-12">
                  <div class="form-group">

                    <button type="button" class="btnadd btn-primary" (click)="addCompanyButtonClick()">Add
                      Company</button>

                  </div>
                </div>



                <div class="row register4-form">


                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="relevant_skills" name="relevant_skills" class="form-control"
                        placeholder="relevant_skills" formControlName="relevant_skills">
                      <div *ngIf="reactiveForm.controls.relevant_skills.errors && 
                      (reactiveForm.controls.relevant_skills.touched || reactiveForm.controls.relevant_skills.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','relevant_skills')"> Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','relevant_skills')"> Invalid Format</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','relevant_skills')"> Invalid</div>
                      </div>

                    </div>
                  </div>




                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="relevant_experience_in_years" name="relevant_experience_in_years"
                        class="form-control" placeholder="relevant_experience_in_years"
                        formControlName="relevant_experience_in_years">
                      <div
                        *ngIf="reactiveForm.controls.relevant_experience_in_years.errors && 
                               (reactiveForm.controls.relevant_experience_in_years.touched || reactiveForm.controls.relevant_experience_in_years.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','relevant_experience_in_years')"> Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','relevant_experience_in_years')"> Invalid Format
                        </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','relevant_experience_in_years')"> Invalid</div>
                      </div>

                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="relevant_experience_in_months" name="relevant_experience_in_months"
                        class="form-control" placeholder="relevant_experience_in_months"
                        formControlName="relevant_experience_in_months">
                      <div
                        *ngIf="reactiveForm.controls.relevant_experience_in_months.errors && 
                   (reactiveForm.controls.relevant_experience_in_months.touched || reactiveForm.controls.relevant_experience_in_months.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','relevant_experience_in_months')">Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','relevant_experience_in_months')">Invalid Format
                        </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','relevant_experience_in_months')">Invalid</div>
                      </div>

                    </div>
                  </div>

                </div>



<!-----------------------------------------------------------------------------------------------------

<div class="col-md-12">
    <div class="form-group" id="relaventcompanydetails" style="color:blue">
      <label> Relavent Company Details *</label>
    </div>
  </div>


  <div formArrayName="relevant_skills_companies" *ngFor="let Relevantcompany of reactiveForm.get('relevant_skills_companies').controls;
  let i=index">
  <hr *ngIf="i>0">
    <div [formGroupName]="i">


      <div class="row register5-form">

          <div class="col-md-4">
              <div class="form-group">
                  <label class="control-label"
                  [attr.for]="companyName" style="color:blue">Company name:</label>            
                  <input type="text" class="form-control" [id]="'companyName'+i" placeholder="Enter Company Name" 
                  formControlName="companyName">
                 <span class="help-block" *ngIf="Relevantcompany.get('companyName').errors?.required 
                 && Relevantcompany.get('companyName').touched" style="color:red">
                   Relavent Company Name required
                  </span>
                </div>
              </div>




              <div class="col-md-5" *ngIf="i>0">
                  <button type="button" class="btn btn-primary btn-md pull-right"
                  title="Delete Relevantcompanies" (click)="removeRelevantCompany(i)">
        
                  <span class="glyphicon glyphicon-remove">
        
                  </span>
                  </button>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label"
                        [attr.for]="designation" style="color:blue">Designation:</label>            
                        <input type="text" class="form-control" [id]="'designation'+i" placeholder="Enter designation" 
                        formControlName="designation">
                       <span class="help-block" *ngIf="Relevantcompany.get('designation').errors?.required 
                       && Relevantcompany.get('designation').touched" style="color:red">
                       designation required
                        </span>
                      </div>
                    </div>
      

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"
                            [attr.for]="duration_from" style="color:blue">From:</label>            
                            <input type="text" class="form-control" [id]="'duration_from'+i" placeholder="Enter duration_from" 
                            formControlName="duration_from">
                           <span class="help-block" *ngIf="Relevantcompany.get('duration_from').errors?.required 
                           && Relevantcompany.get('duration_from').touched" style="color:red">
                           duration_from required
                            </span>
                          </div>
                        </div>
          



                        <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"
                              [attr.for]="duration_to" style="color:blue">To:</label>            
                              <input type="text" class="form-control" [id]="'duration_to'+i" placeholder="Enter duration_to" 
                              formControlName="duration_to">
                             <span class="help-block" *ngIf="Relevantcompany.get('duration_to').errors?.required 
                             && Relevantcompany.get('duration_to').touched" style="color:red">
                             duration_to required
                              </span>
                            </div>
                          </div>
            


                          <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"
                                [attr.for]="responsibility" style="color:blue">Responsibility:</label>            
                                <input type="text" class="form-control" [id]="'responsibility'+i" placeholder="Enter responsibility" 
                                formControlName="responsibility">
                               <span class="help-block" *ngIf="Relevantcompany.get('responsibility').errors?.required 
                               && Relevantcompany.get('responsibility').touched" style="color:red">
                               Responsibility required
                                </span>
                              </div>
                            </div>



                            <div class="col-md-12">
                              <div class="form-group">
        
                               <button type="button" class="btnrel btn-primary"
                                              (click)="addRelevantCompanyButtonClick()">Add Relavent Company</button>
                             
                                            </div>
                                 </div>
  
                            
  




</div>
</div>
</div>
--------------------------------------------------------------------------------------------------------->



                <div class="row register6-form">

                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" id="current_ctc" name="current_ctc" class="form-control"
                        placeholder="current_ctc" formControlName="current_ctc">
                      <div *ngIf="reactiveForm.controls.current_ctc.errors && 
                          (reactiveForm.controls.current_ctc.touched || reactiveForm.controls.current_ctc.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','current_ctc')"> Required </div>
                        <div *ngIf="reactiveForm.hasError('pattern','current_ctc')"> Invalid Format </div>
                        <div *ngIf="reactiveForm.hasError('maxlength','current_ctc')"> Invalid </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" id="noticePeriod_in_days" name="noticePeriod_in_days" class="form-control"
                        placeholder="noticePeriod_in_days" formControlName="noticePeriod_in_days">
                      <div
                        *ngIf="reactiveForm.controls.noticePeriod_in_days.errors && 
                          (reactiveForm.controls.noticePeriod_in_days.touched || reactiveForm.controls.noticePeriod_in_days.dirty)"
                        style="color:red">
                        <div *ngIf="reactiveForm.hasError('required','noticePeriod_in_days')"> Required</div>
                        <div *ngIf="reactiveForm.hasError('pattern','noticePeriod_in_days')"> Invalid Format</div>
                        <div *ngIf="reactiveForm.hasError('maxlength','noticePeriod_in_days')"> Invalid </div>
                      </div>

                    </div>
                  </div>


                </div>

                <div class="row register7-form">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="file" style="color:blue">Upload Offer Letter</label>
                      <input type="file" class="form-control" (change)="onSelectFileofferletter($event)"
                        style="height:100%">
                    </div>

                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="file" style="color:blue">Upload Appointment Letter</label>
                      <input type="file" class="form-control" (change)="onSelectFileappoinment_letter($event)"
                        style="height:100%">
                    </div>

                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="file" style="color:blue">Upload Payslips</label>
                      <input type="file" class="form-control" (change)="onSelectFilepayslips($event)"
                        style="height:100%">
                    </div>

                  </div>

                </div>

          

                <button type=submit class="btn1 btn-primary" (click)="registerUser(reactiveForm)"> Submit </button>

                <button class="btnp1 btn-primary" (click)="t.select('tab-selectbyid2')">Previous</button>


              </div>


            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

































<!----------------------------------------------------      
                <div class="container reactiveform">

                  <form [formGroup]="nestedReactiveForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div formArrayName="companydetails">

                          <div [formGroupName]="i"
                            *ngFor="let reactiveForm of nestedReactiveForm.controls.companydetails.controls; let i= index">


                            <div class="form-group">
                              <label class="control-label"><span style="color:red;"> Companies {{i+1}}</span></label>
                              <a href="javascript:void(0)" class="close-icon"
                                *ngIf="nestedReactiveForm.controls.companydetails.length > 1"
                                (click)="removeSelectedForm(i)"></a>
                            </div>


                            <div class="row reactive">

                              <div class="col-md-8">

                                <div class="form-group">
                                  <label for=" rcompanyname">Companyname:</label>
                                  <input type="text" class="form-control" id=" rcompanyname" name=" rcompanyname"
                                    formControlName=" rcompanyname">
                                  <div
                                    *ngIf="reactiveForm.controls. rcompanyname.errors && (reactiveForm.controls. rcompanyname.touched || reactiveForm.controls. rcompanyname.dirty)"
                                    style="color:red">
                                    <div *ngIf="reactiveForm.hasError('required','rcompanyname')">
                                      companyname is Required
                                    </div>
                                    <div *ngIf="reactiveForm.hasError('pattern','rcompanyname')">
                                      companyname is Invalid Format
                                    </div>

                                  </div>

                                </div>
                              </div>

                              <div class="col-md-8">

                                <div class="form-group">
                                  <label for="rdesignation">designation:</label>
                                  <input type="text" class="form-control" id="rdesignation" name="rdesignation"
                                    formControlName="rdesignation">
                                  <div
                                    *ngIf="reactiveForm.controls.rdesignation.errors && (reactiveForm.controls.rdesignation.touched || reactiveForm.controls.rdesignation.dirty)"
                                    style="color:red">
                                    <div *ngIf="reactiveForm.hasError('required','rdesignation')">
                                      designation is Required
                                    </div>
                                    <div *ngIf="reactiveForm.hasError('pattern','rdesignation')">
                                      designation is Invalid Format
                                    </div>

                                  </div>

                                </div>
                              </div>

                              <div class="col-md-8">

                                <div class="form-group">
                                  <label for="rresponsibility">responsibility:</label>
                                  <input type="text" class="form-control" id="rresponsibility" name="rresponsibility"
                                    formControlName="rresponsibility">
                                  <div
                                    *ngIf="reactiveForm.controls.rresponsibility.errors && (reactiveForm.controls.rresponsibility.touched || reactiveForm.controls.rresponsibility.dirty)"
                                    style="color:red">
                                    <div *ngIf="reactiveForm.hasError('required','rresponsibility')">
                                      responsibility is Required
                                    </div>
                                    <div *ngIf="reactiveForm.hasError('pattern','rresponsibility')">
                                      responsibility is Invalid Format
                                    </div>

                                  </div>

                                </div>
                              </div>




                              <button type=submit class="btn btn-primary" style="float:right;" (click)="addNewForm()">
                                Add </button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </form>
                </div>


                



                <div class="row register-form">


                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Relavent Experience *</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="years" name="years" placeholder="years" class="form-control">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="months" name="months" placeholder="months" class="form-control">
                    </div>
                  </div>



                </div>
--------------------------------------------------->

<!------------------------------------------------------------------------------------

                <div class="row1 register-form">
                  <div class="container reactiveform">

                    <form [formGroup]="nestedReactiveForm">
                      <div class="row">
                        <div class="col-md-12">
                          <div formArrayName="companydetails">

                            <div [formGroupName]="i"
                              *ngFor="let reactiveForm of nestedReactiveForm.controls.companydetails.controls; let i= index">


                              <div class="form-group">
                                <label class="control-label"><span style="color:red;">Relevant Companies
                                    {{i+1}}</span></label>
                                <a href="javascript:void(0)" class="close-icon"
                                  *ngIf="nestedReactiveForm.controls.companydetails.length > 1"
                                  (click)="removeSelectedForm(i)"></a>
                              </div>


                              <div class="row reactive">

                                <div class="col-md-8">

                                  <div class="form-group">
                                    <label for="companyname">Companyname:</label>
                                    <input type="text" class="form-control" id="companyname" name="companyname"
                                      formControlName="companyname">
                                    <div
                                      *ngIf="reactiveForm.controls.companyname.errors && (reactiveForm.controls.companyname.touched || reactiveForm.controls.companyname.dirty)"
                                      style="color:red">
                                      <div *ngIf="reactiveForm.hasError('required','companyname')">
                                        companyname is Required
                                      </div>
                                      <div *ngIf="reactiveForm.hasError('pattern','companyname')">
                                        companyname is Invalid Format
                                      </div>

                                    </div>

                                  </div>
                                </div>

                                <div class="col-md-8">

                                  <div class="form-group">
                                    <label for="designation">designation:</label>
                                    <input type="text" class="form-control" id="designation" name="designation"
                                      formControlName="designation">
                                    <div
                                      *ngIf="reactiveForm.controls.designation.errors && (reactiveForm.controls.designation.touched || reactiveForm.controls.designation.dirty)"
                                      style="color:red">
                                      <div *ngIf="reactiveForm.hasError('required','designation')">
                                        designation is Required
                                      </div>
                                      <div *ngIf="reactiveForm.hasError('pattern','designation')">
                                        designation is Invalid Format
                                      </div>

                                    </div>

                                  </div>
                                </div>

                                <div class="col-md-8">

                                  <div class="form-group">
                                    <label for="responsibility">responsibility:</label>
                                    <input type="text" class="form-control" id="responsibility" name="responsibility"
                                      formControlName="responsibility">
                                    <div
                                      *ngIf="reactiveForm.controls.responsibility.errors && (reactiveForm.controls.responsibility.touched || reactiveForm.controls.responsibility.dirty)"
                                      style="color:red">
                                      <div *ngIf="reactiveForm.hasError('required','responsibility')">
                                        responsibility is Required
                                      </div>
                                      <div *ngIf="reactiveForm.hasError('pattern','responsibility')">
                                        responsibility is Invalid Format
                                      </div>

                                    </div>

                                  </div>
                                </div>




                                <button type=submit class="btn btn-primary" style="float:right;" (click)="addNewForm()">
                                  Add </button>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>





                    </form>
                  </div>
                

                </div>

                ----------------------------------------------------------------------------------->