.register1{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);

    min-height: 99vh;
    min-width: 100%;
    margin-top: 0%;
    margin-bottom: 2%;
   
}

.register2{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);

    min-height: 99vh;
    min-width: 100%;
    margin-top: 0%;
    margin-bottom: 2%;
   
}

.register3{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);

    min-height: 99vh;
    min-width: 100%;
    margin-top: 0%;
    margin-bottom: 2%;
   
}

