<div class="container">
  <div class="row">
    <div class="col-md-6 logo">
      <img src="/assets/logo.png" width="100">
      <h3>EMPLOYEE MEMBER REFERRAL PROGRAM</h3>
      <h6><B>Introducing Employee Referral Bonus Progame / Help us Grow! / We are Hiring! Can you help?</B></h6>
    </div>
    <div class="col-md-6 image">
      <span class="blink">
        <img src="/assets/d.jpg">
      </span>
    </div>
  </div>

  <div class="">
    <p><b>Dear Team,</b></p>
    <p class="head">Greetings from LETSGETTIN PVT LTD !!!</p>
    <p class="para"> As you know, here at LETSGETTIN, we are always looking to grow our teams with talented people, just like you.
      That’s why, we are excited to announce our Member Referral Program (MRP).
      Refer qualified candidates and as a “thank you,” we will offer you [Member referral bonus as an incentive for
      referrers.
    </p>
    <p class="para">In order to be eligible for the referral bonus, you need to refer you friends who are talented, hard workers and
      dedicated who is need of job [Any member can refer].
    </p>
    <p class="para">If you know someone who you think would be a good fit for our company, let us know. [It’s best to be clear about
      the employee referral process, please find the below to understand more
      about MRP programme.
    </p>
    
  </div>
  <div class="card">
    <p class="pr"><strong>Programme Benefits</strong></p>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Click Here</button>
  <div id="demo" class="collapse">

    <i>
    <p>1. For the closure of<b> Train & Hire Model - JAVA,</b> Member will get<b> Rs.5000/- </b>per closure (Calculated monthly).
       </p>
       <p>2. For the first closure of<b> Train & Hire Model-TESTING,</b> Member will get<b>Rs.3,500/-</b> per closure (Calculated monthly).
        </p>
        <p>3. Once the agreement received from the Organization, bonus will credit with the salary as an incentive which will give you more
       credibility  to your  Employment (payslip as well as  statement).
    </p>
        <p>
            4.  HR's, PE’s and CPE’s are not eligible for the MRP – Member referral programme.           
    </p>
  </i>
    <p>
            For more details about the MRP - Member referral program, please contact to Shalini Gandra Mobile -7019725348  and <br> <a  href=""> E-Mail ID- shalini.gandra@letsgettin.com.</a>
    </p>

    <button class="btn btn-outline-primary" routerLink="/referalreg"> Referal Link</button>


    
  </div>

  </div>
 


</div>

<!-- ------ -->

