<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Village</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mekala</td>
        <td>Mallikarjuna Redddy</td>
        <td>Reddy Palem</td>
      </tr>
      <tr>
        <td>Chandhra Leka</td>
        <td>Thinakaran</td>
        <td>Hosur</td>
      </tr>
      <tr>
        <td>Palaparthi</td>
        <td>Sunanda</td>
        <td>Vindhuru</td>
      </tr>

    </tbody>
  </table>

</div>

<!-- --------------------- -->

<dl>
  <dt>Mekala</dt>
  <dd>Mallikarjuna Reddy</dd>
  <dt>Chandhraleka</dt>
  <dd>Thinakaran</dd>
  Mallikarjuna <mark>Reddy</mark><abbr title="sirname">Mekala</abbr><kbd>Reddy+Palem</kbd>
</dl>
<pre>

<b>Mallikarjuna</b>
           Reddy
               Mekala
</pre>

<p>
    &nbsp;&nbsp;&nbsp;&nbsp; Mallikarjuna
     &nbsp;    Reddy
                    Mekala
               
</p>