
    /*---navigation bar------*/
    #nav-bar{
        position: sticky;
        top: 0;
        z-index: 10;
    
       }
       .navbar-brand img{
       
          height: 50px;
          padding-left: 30px;
       
       }
       .navbar-nav li{
          padding: 0 10px;
          
       }
       .navbar-nav li a{
          float: right;
          text-align: left;
          color: white;
        }


        .navbar-toggler{
            border: none!important;
        }
        .nav-link{
            color: white;
            font-weight: 600;
            font-size: 16px;
        }

        /*-----------------------------------------------------------*/
        
