
<div class="section">

<!---------------------------------->
<app-header></app-header>

 <app-home></app-home>
 <!-----------------
 <app-searchbar></app-searchbar>
          ----->
 <app-blink></app-blink>
 
 
 <!-- <app-side></app-side> -->
 <app-side1></app-side1>
 <!-- <app-namescroll></app-namescroll> -->
 <app-videos></app-videos>
 <br>
 <app-mservices></app-mservices>
 
 <app-testimonails></app-testimonails>
 <app-scrollcandidates></app-scrollcandidates>
 <app-contact></app-contact>
 <app-footer></app-footer>


</div>