<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="container">

        <div class="carousel-item active" style="color:rgb(103, 15, 218)">
            <div class="header">
              <form>          
                <div class="form-box">
                  <img src="/assets/sm.jpg" class="user"> 
                  <p class="letters"> <b> "I followed a link for a job on SahiUdhyog and uploaded my resume.About two hours later. I received an email from an employer looking for someone with my skills.In a week's time and four interviews later I have a fantastic new job!! Thanks SahiUdhyog!! "</b> </p>
               </div>
              </form>
            </div>
    
          </div>
    
    

      <div class="carousel-item" style="color:rgb(26, 214, 228)">
          <div class="header">
            <form>          
              <div class="form-box">
                <img src="/assets/c.jpg" class="user"> 
                <p class="letters"><b> " I followed a link for a job on SahiUdhyog and uploaded my resume.About two hours later. I received an email from an employer looking for someone with my skills.In a week's time and four interviews later I have a fantastic new job!! Thanks SahiUdhyog!! " </b> </p>
             </div>
            </form>
          </div>
  
        </div>
  
  
      <div class="carousel-item" style="color:rgb(240, 12, 164)">
        <div class="header">
          <form>          
            <div class="form-box">
              <img src="/assets/t.jpg" class="user"> 
              <p class="letters"> <b>" I followed a link for a job on SahiUdhyog and uploaded my resume.About two hours later. I received an email from an employer looking for someone with my skills.In a week's time and four interviews later I have a fantastic new job!! Thanks SahiUdhyog!! " </b> </p>
           </div>
          </form>
        </div>

      </div>


    </div>
  </div>


  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>